@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #1c0522 !important;
}

body {
  background: rgb(43,16,85);
  background: linear-gradient(180deg, #2b1055 0%, #7597de 50%, #1c0522 50%);
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 20vh;
  left: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
}

#blur {
  transition: 0.7s;
}

.blur {
  filter: blur(0.5vw);
  overflow: hidden;
  
}
.popupcon {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  transition: 0.4s;
}
.popup {
  background-color: #e4e4e4;
  width: 40vw;
  height: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1vw;
  z-index: 1000;
  backdrop-filter: blur(10px);
  display: none;
  padding: 5vh;
  overflow: hidden;
}

.popup .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  background-image: url(/images/labryinth.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 0.4;
  transform: translate3d(-15%,-50%,0px)
}

.contcon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 11;
}

.active {
  display: block !important;
}
.popupcon.active {
  display: flex !important;
}


button#btnx {
  display: none;
  position: relative;
  width: 3vw;
  height: 3vw;
  border-radius: 10vw;
  border: none;
  font-size: 2vw;
  background-color: #699BFF;
  z-index: 1001;
  top: -19.5vw;
  left: 19.5vw;
  transition: 0.4s;
}

button#btnx:hover {
  width: 4vw;
  height: 4vw;
  top: -18.5vw;
  left: 18.5vw;
  font-size: 3vw;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 75% !important;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
}


section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 99;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}
section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 20;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  height: 51vh;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
#gallery h2, .quotes-wrapper h2 {
  font-size: 3.5em;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #fff;
}

.sec p {
  font-size: 1.5em;
  color: #fff;
}

.night{
  position: relative;/* position: relative; */
  width: 80vw;
  height: 60vw;
  transform: rotate(40deg);
  top: 50%;
}

.stars-wrapper {
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
}

.star{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699BFF);
  animation: tail 3s ease-in-out infinite,
             falling 3s ease-in-out infinite;
}

@keyframes tail{
  0%{
    width: 0;
  }
  30%{
    width: 100px;
  }
  100%{
    width: 0;
  }
}

@keyframes falling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}

.star::before, .star::after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining{
  0%{
    width: 0;
  }
  50%{
    width: 30px;
  }
  100%{
    width: 0;
  }
}

.star::after{
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1){
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after{
  animation-delay: 1s;
}

.star:nth-child(2){
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after{
  animation-delay: 1.2s;
}

.star:nth-child(3){
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after{
  animation-delay: 1.4s;
}

.star:nth-child(4){
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after{
  animation-delay: 1.6s;
}

.star:nth-child(5){
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after{
  animation-delay: 1.8s;
}
      
.swiper {
  background: #1c0522;
}

.swiper-wrapper {
  width: 100vw !important;
  padding: 3vw;
}

.swiper-slide {
  display: flex !important;
  margin: 0vw auto;
  text-align: center;
  color: #e4e4e4;
  background-color: #2b1055;
  background: linear-gradient(145deg, #270e4d, #2e115b);
  box-shadow:  16px 16px 32px #150419,
             -16px -16px 32px #23062b;
  width: 30vw !important;
  height: 35vh !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  padding: 2vh;
  border-radius: 1vw;
}

.swiper-slide .readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #7597de;
  color: #242526;
  width: 15vh;
  height: 5vh;
  top: 50vh;
  transition: 0.4s;
  font-size: 2.2vh;
  border-radius: 1vh;
  cursor: pointer;
}

.swiper-slide-active.swiper-slide:hover  .readmore {
  transform: translateY(-25vh);
}

.swiper-slide h1 {
  font-size: 3vh;
  transition: 0.4s;
}

.swiper-slide-active.swiper-slide:hover h1 {
  transform: translateY(-4vh);
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1c0522;
}

.grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 90vw;
  margin-bottom: 10vh;
}

.grid .grid-item {
  width: 20vw !important; 
  height: 20vw !important;
  background-size: 140% 100%;

  background-position: calc(50% - 10px) 50%;
  background-repeat: no-repeat;
  &:nth-of-type(1) {background-image: url('../images/gallery/1.jpg');}
  &:nth-of-type(2) {background-image: url('../images/gallery/2.jpg');}
  &:nth-of-type(3) {background-image: url('../images/gallery/3.jpg');}
  &:nth-of-type(4) {background-image: url('../images/gallery/4.jpg');}
  &:nth-of-type(5) {background-image: url('../images/gallery/5.jpg'); background-position: calc(50% + 20px) 50%; background-size: 120% 100%;}
  &:nth-of-type(6) {background-image: url('../images/gallery/6.jpg');}
  &:nth-of-type(7) {background-image: url('../images/gallery/7.jpg');}
  &:nth-of-type(8) {background-image: url('../images/gallery/8.jpg');}
  &:nth-of-type(9) {background-image: url('../images/gallery/9.jpg');}
  &:nth-of-type(10) {background-image: url('../images/gallery/10.jpg');}
  &:nth-of-type(11) {background-image: url('../images/gallery/11.jpg');}
  &:nth-of-type(12) {background-image: url('../images/gallery/12.jpg');}
  &:nth-of-type(13) {background-image: url('../images/gallery/13.jpg'); background-position: calc(50% + 5px) 50%; background-size: 120% 170%;}
  &:nth-of-type(14) {background-image: url('../images/gallery/14.jpg'); background-position: calc(50% - 5px) 50%; background-size: 120% 170%;}
  &:nth-of-type(15) {background-image: url('../images/gallery/15.jpg'); background-position: calc(50% - 20px) 50%; background-size: 120% 170%;}
}

#gallery h2 {
  padding: 100px 100px 10px;
}

.quotes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1c0522;
}

#quotes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  transform-style: preserve-3d;
  margin-top: 10px;
  
}

#quotes .card {
  position: relative;
  width: 30vh;
  height: 40vh;
  margin: 40px;
  background: #2b1055;
  border-radius: 20px;
  transform-style: preserve-3d;
}

#quotes .card::before {
  content: 'SINAG';
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 70px;
  font-weight: 900;
  color: #699BFF;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
#quotes .card::after {
  content: 'TALA';
  position: absolute;
  bottom: 0px;
  right: 00px;
  font-size: 70px;
  font-weight: 900;
  color: #699BFF;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}


#quotes .card:hover::after, 
#quotes .card:hover::before {

  opacity: 0.1;
}
#quotes .card:hover::before {
  top: 20px;
  left: 20px;
}
#quotes .card:hover::after {

  bottom: 20px;
  right: 60px;
}

#quotes p {
  position: absolute;
  padding: 30px;
  padding-right: 110px;
  color: #e4e4e4;
  font-weight: 500;
  transition: 0.5s;
}
#quotes .card:hover p {
  transform: translateZ(50px);
}

#quotes .card:nth-of-type(11) p {
  font-size: 12px;
}
#quotes .card:nth-of-type(12) p {
  font-size: 10px;
}
#quotes .card:nth-of-type(13) p {
  font-size: 14px;
}
#quotes .card:nth-of-type(14) p {
  font-size: 12px;
}

#quotes .picture {
  position: absolute;
  top: 51%;
  left: 50%;
  max-width: 250px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-25%,-50%,0px)
}

#quotes .card:hover .picture {
  transform: translate3d(-25%,-50%,75px);
}

#quotes .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 325px;
  height: 325px;
  transition: 0.5s;
  background-image: url(/images/labryinth.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-30%,-40%,0px)
}

#quotes .card:hover .circle {
  transform: translate3d(-30%,-40%,25px);
}

#quotes .card .name {
  width: 100%;
  text-align: center;
  color: #e4e4e4;
  font-size: 20px;
  position: absolute;
  opacity: 0;
  top: 90%;
  left: 50%;
  transform: translate3d(-50%,0%,0px);
  z-index: 12;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

#quotes .card:hover .name {
  opacity: 1;
  top: 50%;
  transform: translate3d(-50%,450%,100px);
}
/*---------------------------------------------------------------*/
@media (max-width: 500px) {
  
  body {
  overflow-x: hidden; /* Hide vertical scrollbar */
  }
  .logo img {
    width: 400px !important;
  }

  .sec {
    padding: 35px;
  }
  .sec h2 {
    font-size: 40px;
  }

  .sec p {
    font-size: 15px;
  }

  .swiper-slide {
    height: 300px !important;
    width: 350px !important;
    left: -15px;
    border-radius: 20px;
  }

  .swiper-slide h1 {
    font-size: 2vh;
    transition: 0.4s;
  }

  .popup {
    overflow: scroll;
    font-size: 12px;
    width: 300px;
    height: 80vh;

  }
  
  #text {
    right: -140vw;
    font-size: 10vh;
  }

  .contcon {
    top: 0;
    transform: none;
  }

  button#btnx {
    font-size: 25px !important;
    position: fixed;
  top: 10% !important;
  left: 50% !important;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    width: 30px !important;
    height: 30px !important;
  }
  
.quotes-wrapper {
  overflow-x: hidden;
}

  .grid .grid-item {
    width: 150px !important;
    
    height: 150px !important;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
  }
  #btn {
    font-size: 15px;
  }
  .popup .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background-image: url(/images/labryinth.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 0.4;
    transform: translate3d(-20%,-50%,0px)
  }

  .swiper-slide .readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #7597de;
    color: #242526;
    width: 15vh;
    height: 5vh;
    top: 75%;
    transition: 0.4s;
    font-size: 2.2vh;
    border-radius: 1vh;
    cursor: pointer;
  }
  
  .swiper-slide-active.swiper-slide:hover  .readmore {
    transform: translateY(0);
  }

  .swiper-slide-active.swiper-slide:hover h1{
    transform: translateY(0);
  }
}